<!-- change "data-key" value to actual stripe test public key -->

<section class="py2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Digital Product
            </h1>
            <p class="lead">single digital product checkout </p>
            <form action="/charge" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="Insert_Test_Public_Key"
                        data-amount="2500"
                        data-name="Node.js Stripe API "
                        data-description="eBook"
                        data-image="/img/marketplace.png"
                        data-locale="auto">
                </script>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/book.png" class="img-fluid">
        </div>
    </div>
</section>